footer {
    height: 50px;
    background-color: #1C2B35;
    padding-left: 140px;
    padding-right: 140px;
    color: #FFFFFF;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer:hover {
    color: orange;
}